<network>
  <name>{{ item.name }}</name>
  <uuid>{{ item.uuid | default(99999999 | random | to_uuid) }}</uuid>

{% if item.mode == 'bridge' %}

  <forward mode='bridge'/>
  <bridge name='{{ item.bridge_name }}'/>

{% elif item.mode == 'nat' %}

  <forward mode='nat'/>
  <bridge name='{{ item.bridge_name | default(item.name) }}' stp='on' delay='0'/>
  <ip address="{{ item.cidr | ansible.utils.ipaddr('next_usable') }}" />
  <dns enable="no"/>

{% endif %}

</network> 